# Linear Regression

### Downloading the training and testing data

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
train_data = pd.read_csv("C:\\Users\\DELL\\Desktop\\Hands on machine learning\\Chapter 5\\Exercises\\regression\\data\\training data.csv")
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16512 entries, 0 to 16511
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   longitude                   16512 non-null  float64
 1   latitude                    16512 non-null  float64
 2   housing_median_age          16512 non-null  float64
 3   total_rooms                 16512 non-null  float64
 4   population                  16512 non-null  float64
 5   households                  16512 non-null  float64
 6   median_income               16512 non-null  float64
 7   ocean_proximity_<1H OCEAN   16512 non-null  float64
 8   ocean_proximity_INLAND      16512 non-null  float64
 9   ocean_proximity_ISLAND      16512 non-null  float64
 10  ocean_proximity_NEAR BAY    16512 non-null  float64
 11  ocean_proximity_NEAR OCEAN  16512 non-null  float64
 12  median_house_value          16512 non-null  float64
dtypes: float64(13)
memory usage: 1.6 MB

In [15]:
test_data = pd.read_csv("C:\\Users\\DELL\\Desktop\\Hands on machine learning\\Chapter 5\\Exercises\\regression\\data\\testing data.csv")
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4128 entries, 0 to 4127
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   longitude                   4128 non-null   float64
 1   latitude                    4128 non-null   float64
 2   housing_median_age          4128 non-null   float64
 3   total_rooms                 4128 non-null   float64
 4   population                  4128 non-null   float64
 5   households                  4128 non-null   float64
 6   median_income               4128 non-null   float64
 7   ocean_proximity_<1H OCEAN   4128 non-null   float64
 8   ocean_proximity_INLAND      4128 non-null   float64
 9   ocean_proximity_ISLAND      4128 non-null   float64
 10  ocean_proximity_NEAR BAY    4128 non-null   float64
 11  ocean_proximity_NEAR OCEAN  4128 non-null   float64
 12  median_house_value          4128 non-null   float64
dtypes: float64(13)
memory usage: 419.4 KB

##### Dividing into dependent and independent variables

In [16]:
train_data.head()

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
0,1.272587,-1.372811,0.348490,0.222569,0.768276,0.322906,-0.326196,0.0,0.0,0.0,0.0,1.0,103000.0
1,0.709162,-0.876696,1.618118,0.340293,-0.098901,0.672027,-0.035843,0.0,0.0,0.0,0.0,1.0,382100.0
2,-0.447603,-0.460146,-1.952710,-0.342597,-0.449818,-0.430461,0.144701,0.0,0.0,0.0,0.0,1.0,172600.0
3,1.232698,-1.382172,0.586545,-0.561490,-0.007434,-0.380587,-1.017864,0.0,0.0,0.0,0.0,1.0,93400.0
4,-0.108551,0.532084,1.142008,-0.119565,-0.485877,-0.314962,-0.171488,0.0,1.0,0.0,0.0,0.0,96500.0

In [18]:
X_train = train_data.drop(labels = ['median_house_value'],axis = 1)
X_train.head()

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,1.272587,-1.372811,0.348490,0.222569,0.768276,0.322906,-0.326196,0.0,0.0,0.0,0.0,1.0
1,0.709162,-0.876696,1.618118,0.340293,-0.098901,0.672027,-0.035843,0.0,0.0,0.0,0.0,1.0
2,-0.447603,-0.460146,-1.952710,-0.342597,-0.449818,-0.430461,0.144701,0.0,0.0,0.0,0.0,1.0
3,1.232698,-1.382172,0.586545,-0.561490,-0.007434,-0.380587,-1.017864,0.0,0.0,0.0,0.0,1.0
4,-0.108551,0.532084,1.142008,-0.119565,-0.485877,-0.314962,-0.171488,0.0,1.0,0.0,0.0,0.0

In [19]:
X_test = test_data.drop(labels = ['median_house_value'],axis = 1)
X_test.head()

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,0.285347,0.195100,-0.286324,-0.522862,-0.030301,-0.370087,-1.155085,0.0,1.0,0.0,0.0,0.0
1,0.060975,-0.235491,0.110435,0.138415,0.121851,0.220532,-0.708659,0.0,1.0,0.0,0.0,0.0
2,-1.424870,1.009478,1.856173,0.546310,-0.102419,1.215396,-0.210402,0.0,0.0,0.0,1.0,0.0
3,0.429943,-0.637999,-0.921138,0.188080,0.244979,-0.013091,0.975113,1.0,0.0,0.0,0.0,0.0
4,-1.170581,0.457199,0.427842,-0.133821,-0.319653,-0.188964,-0.081794,0.0,0.0,0.0,0.0,1.0

In [20]:
y_train = train_data['median_house_value']
y_train

0        103000.0
1        382100.0
2        172600.0
3         93400.0
4         96500.0
           ...
16507    229200.0
16508     97800.0
16509    222100.0
16510    283500.0
16511    325000.0
Name: median_house_value, Length: 16512, dtype: float64

In [21]:
y_test = test_data['median_house_value']
y_test

0        47700.0
1        45800.0
2       500001.0
3       218600.0
4       278000.0
          ...
4123    263300.0
4124    266800.0
4125    500001.0
4126     72300.0
4127    151500.0
Name: median_house_value, Length: 4128, dtype: float64