### Solution 10

10. Train an SVM regressor on the California housing dataset.

In [253]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("camnugent/california-housing-prices")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\DELL\.cache\kagglehub\datasets\camnugent\california-housing-prices\versions\1

In [254]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [255]:
data = pd.read_csv('C:\\Users\\DELL\\Desktop\\Hands on machine learning\\Chapter 5\\data\\housing.csv')
data.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [256]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [257]:
data.describe()

          longitude      latitude  ...  median_income  median_house_value
count  20640.000000  20640.000000  ...   20640.000000        20640.000000
mean    -119.569704     35.631861  ...       3.870671       206855.816909
std        2.003532      2.135952  ...       1.899822       115395.615874
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.800000     33.930000  ...       2.563400       119600.000000
50%     -118.490000     34.260000  ...       3.534800       179700.000000
75%     -118.010000     37.710000  ...       4.743250       264725.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

In [258]:
data.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [259]:
bedrooms = data['total_bedrooms']
bedrooms

0         129.0
1        1106.0
2         190.0
3         235.0
4         280.0
          ...
20635     374.0
20636     150.0
20637     485.0
20638     409.0
20639     616.0
Name: total_bedrooms, Length: 20640, dtype: float64

In [260]:
data.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [261]:
prices = data['median_house_value']

In [262]:
data.drop(labels=['ocean_proximity'], axis =1).corr()

                    longitude  latitude  ...  median_income  median_house_value
longitude            1.000000 -0.924664  ...      -0.015176           -0.045967
latitude            -0.924664  1.000000  ...      -0.079809           -0.144160
housing_median_age  -0.108197  0.011173  ...      -0.119034            0.105623
total_rooms          0.044568 -0.036100  ...       0.198050            0.134153
total_bedrooms       0.069608 -0.066983  ...      -0.007723            0.049686
population           0.099773 -0.108785  ...       0.004834           -0.024650
households           0.055310 -0.071035  ...       0.013033            0.065843
median_income       -0.015176 -0.079809  ...       1.000000            0.688075
median_house_value  -0.045967 -0.144160  ...       0.688075            1.000000

[9 rows x 9 columns]

In [263]:
data.drop(labels = ["total_bedrooms"], axis =1,inplace=True)

In [264]:
data.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 9 columns]

In [265]:
data.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [266]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   population          20640 non-null  float64
 5   households          20640 non-null  float64
 6   median_income       20640 non-null  float64
 7   median_house_value  20640 non-null  float64
 8   ocean_proximity     20640 non-null  object
dtypes: float64(8), object(1)
memory usage: 1.4+ MB

##### Splitting the data

In [267]:
## Dependent and independent features
X = data.drop(labels=['median_house_value'],axis = 1)
y = data['median_house_value']

In [268]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)

##### Endocing the categorical columns

In [269]:
data['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [270]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown='ignore',sparse_output=False)
X_train_cat  = pd.DataFrame(ohe.fit_transform(X_train[['ocean_proximity']]), columns=ohe.get_feature_names_out(),index=X_train.index)
X_test_cat = pd.DataFrame(ohe.transform(X_test[['ocean_proximity']]), columns=ohe.get_feature_names_out(), index = X_test.index)

In [271]:
df_training = pd.concat([X_train, X_train_cat], axis = 1).drop(labels = ['ocean_proximity'], axis=1)
df_training.head()

       longitude  ...  ocean_proximity_NEAR OCEAN
14196    -117.03  ...                         1.0
8267     -118.16  ...                         1.0
17445    -120.48  ...                         1.0
14265    -117.11  ...                         1.0
2271     -119.80  ...                         0.0

[5 rows x 12 columns]

In [272]:
df_testing = pd.concat([X_test, X_test_cat], axis = 1).drop(labels = ['ocean_proximity'], axis=1)
df_testing.head()

       longitude  ...  ocean_proximity_NEAR OCEAN
20046    -119.01  ...                         0.0
3024     -119.46  ...                         0.0
15663    -122.44  ...                         0.0
20484    -118.72  ...                         0.0
9814     -121.93  ...                         1.0

[5 rows x 12 columns]

##### Scaling the data

In [273]:
df_training.head()

       longitude  ...  ocean_proximity_NEAR OCEAN
14196    -117.03  ...                         1.0
8267     -118.16  ...                         1.0
17445    -120.48  ...                         1.0
14265    -117.11  ...                         1.0
2271     -119.80  ...                         0.0

[5 rows x 12 columns]

In [274]:
df_testing.head()

       longitude  ...  ocean_proximity_NEAR OCEAN
20046    -119.01  ...                         0.0
3024     -119.46  ...                         0.0
15663    -122.44  ...                         0.0
20484    -118.72  ...                         0.0
9814     -121.93  ...                         1.0

[5 rows x 12 columns]

In [275]:
data.describe()

          longitude      latitude  ...  median_income  median_house_value
count  20640.000000  20640.000000  ...   20640.000000        20640.000000
mean    -119.569704     35.631861  ...       3.870671       206855.816909
std        2.003532      2.135952  ...       1.899822       115395.615874
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.800000     33.930000  ...       2.563400       119600.000000
50%     -118.490000     34.260000  ...       3.534800       179700.000000
75%     -118.010000     37.710000  ...       4.743250       264725.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 8 columns]

In [277]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numerical_features = ['longitude', 'latitude' , 'housing_median_age', 'total_rooms', 'population', 'households', 'median_income']
scaled_train = pd.DataFrame(scaler.fit_transform(df_training[numerical_features]), columns = numerical_features, index = df_training.index)
scaled_test = pd.DataFrame(scaler.transform(df_testing[numerical_features]), columns = numerical_features , index = df_testing.index)

In [278]:
scaled_train.head()

       longitude  latitude  ...  households  median_income
14196   1.272587 -1.372811  ...    0.322906      -0.326196
8267    0.709162 -0.876696  ...    0.672027      -0.035843
17445  -0.447603 -0.460146  ...   -0.430461       0.144701
14265   1.232698 -1.382172  ...   -0.380587      -1.017864
2271   -0.108551  0.532084  ...   -0.314962      -0.171488

[5 rows x 7 columns]

In [279]:
scaled_test.head()

       longitude  latitude  ...  households  median_income
20046   0.285347  0.195100  ...   -0.370087      -1.155085
3024    0.060975 -0.235491  ...    0.220532      -0.708659
15663  -1.424870  1.009478  ...    1.215396      -0.210402
20484   0.429943 -0.637999  ...   -0.013091       0.975113
9814   -1.170581  0.457199  ...   -0.188964      -0.081794

[5 rows x 7 columns]

In [280]:
df_training_scaled = df_training.drop(columns=numerical_features)
df_testing_scaled = df_testing.drop(columns=numerical_features)

In [281]:
df_training_final = pd.concat([scaled_train, df_training_scaled], axis=1)
df_testing_final  = pd.concat([scaled_test, df_testing_scaled], axis=1)

In [283]:
df_training_final

       longitude  ...  ocean_proximity_NEAR OCEAN
14196   1.272587  ...                         1.0
8267    0.709162  ...                         1.0
17445  -0.447603  ...                         1.0
14265   1.232698  ...                         1.0
2271   -0.108551  ...                         0.0
...          ...  ...                         ...
11284   0.808883  ...                         0.0
11964   1.073144  ...                         0.0
5390    0.599469  ...                         0.0
860    -1.185540  ...                         0.0
15795  -1.414898  ...                         0.0

[16512 rows x 12 columns]

In [284]:
df_testing_final

       longitude  ...  ocean_proximity_NEAR OCEAN
20046   0.285347  ...                         0.0
3024    0.060975  ...                         0.0
15663  -1.424870  ...                         0.0
20484   0.429943  ...                         0.0
9814   -1.170581  ...                         1.0
...          ...  ...                         ...
15362   1.177851  ...                         0.0
16623  -0.622115  ...                         1.0
18086  -1.230414  ...                         0.0
2144   -0.088607  ...                         0.0
3665    0.604455  ...                         0.0

[4128 rows x 12 columns]

In [285]:
df_training_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16512 entries, 14196 to 15795
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   longitude                   16512 non-null  float64
 1   latitude                    16512 non-null  float64
 2   housing_median_age          16512 non-null  float64
 3   total_rooms                 16512 non-null  float64
 4   population                  16512 non-null  float64
 5   households                  16512 non-null  float64
 6   median_income               16512 non-null  float64
 7   ocean_proximity_<1H OCEAN   16512 non-null  float64
 8   ocean_proximity_INLAND      16512 non-null  float64
 9   ocean_proximity_ISLAND      16512 non-null  float64
 10  ocean_proximity_NEAR BAY    16512 non-null  float64
 11  ocean_proximity_NEAR OCEAN  16512 non-null  float64
dtypes: float64(12)
memory usage: 1.6 MB

In [286]:
df_testing_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4128 entries, 20046 to 3665
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   longitude                   4128 non-null   float64
 1   latitude                    4128 non-null   float64
 2   housing_median_age          4128 non-null   float64
 3   total_rooms                 4128 non-null   float64
 4   population                  4128 non-null   float64
 5   households                  4128 non-null   float64
 6   median_income               4128 non-null   float64
 7   ocean_proximity_<1H OCEAN   4128 non-null   float64
 8   ocean_proximity_INLAND      4128 non-null   float64
 9   ocean_proximity_ISLAND      4128 non-null   float64
 10  ocean_proximity_NEAR BAY    4128 non-null   float64
 11  ocean_proximity_NEAR OCEAN  4128 non-null   float64
dtypes: float64(12)
memory usage: 419.2 KB

##### Saving the training and testing data

In [290]:
df_training_final.to_csv("C:\\Users\\DELL\\Desktop\\Hands on machine learning\\Chapter 5\\Exercises\\regression\\data\\training data.csv")

In [291]:
df_testing_final.to_csv("C:\\Users\\DELL\\Desktop\\Hands on machine learning\\Chapter 5\\Exercises\\regression\\data\\testing data.csv")